<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cordova - Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cordova - Ionic App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Integrantes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <ion-list>
          <ion-item *ngFor="let item of items">
            {{item.name}} {{item.lastName}}
          </ion-item>
        </ion-list> 
        <ion-button color="primary" shape="round" (click)="presentAlert()">Mostrar Equipo</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
